p {
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 18px; 
  line-height: 32px; 
  margin: 0 0 24px;
    
  }

ul {
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 18px; 
  line-height: 32px; 
  margin: 0 0 24px;
  
}

img {
    height: auto; 
    width: auto; 
    max-width: 550px; 
    max-height: 5500px;
    
}

article {
  padding: 25px 50px 75px 100px;
}

img {
  align-content: center;
}


.title {
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 150px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
  }

.center{
  display: block;
  margin-left: auto;
  margin-right: auto 
  
  }

.row {
  display: flex;
}
  
.column {
  flex: 33.33%;
  padding: 5px;
}

#copyright { 
  text-transform: uppercase;
}

.enlarge {
  height: auto; 
  width: auto; 
  max-width: 800px; 
  max-height: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
